body {
    font-family: 'Arial', sans-serif;
    background-color: #221f24;
    color: #fff;
    text-align: center;
    margin: 40px;
    width: auto;
}

@media screen and (max-width: 1440px) {
h1 {
    font-size: 2.5rem; 
    color: #FFD700;
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.playlist-container {
    max-width: 1100px;
    display:contents;
    flex-wrap: wrap;
    justify-content: center;  
}

.playlist {
    margin: 5px;
    padding: 1px;
    background-color: #6A5ACD;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
}

.songs {
    margin: 10px; 
    text-align: center;
}

.song-title {
    font-weight: bold;
    color: #FFD700; 
    text-decoration: underline; 
    justify-content: center;
}

.song-title:hover {
    text-decoration: none;
    color: #00FF00;
}
ul {
    padding: 10px;
}